@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #3f3f3f !important;
}

#wrapper {
  margin: 0 auto;
  width: 75%;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1em;
}

.ant-btn {
  background-color: #5e5e5e;
  border-color: #e46e18;
  border-width: .25em;
  color: #FFF;
  margin: 1em;
  height: 4em;
}

.logo {
  display: block;
  margin: 0 auto;
  height: 30px;
}

.sldp_player_wrp {
  height: 100% !important;
}

.ant-modal-header {
  border-bottom: none !important;
  padding-bottom: 0 !important;
}

.ant-modal-title {
  text-align: center;
}
